main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 1.5rem;
    height: 10%;
}

section:nth-child(2) {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.subSection {
    width: 80%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 3px solid var(--default-yello);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.description a {
    color: var(--default-links);
}

.createBtn{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createBtn button {
    flex: 1;
    height: 100%;
    margin-left: 10px;
    background-color: transparent;
    color: var(--default-yello);
    border: 3px solid var(--default-yello);
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease;
}

.createBtn button:hover {
    background-color: var(--default-yello);
    color: var(--default-blue);
}