main {
    display: flex;
    align-items: center;
    height: 100%;
}

section {
    height: 100%;
}

.logoSide {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid var(--default-yello);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.logoSide h1 {
    font-family: "Dancing Script", cursive;
    color: var(--default-yello);
    font-size: 4rem;
    padding: 30px 10px;
}

/* form related styles */

.formSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formSide p {
    margin-top: 40px;
    color: var(--default-red);
}

.formSide p i {
    margin-right: 10px;
}

form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    /*background-color: red;*/
    box-shadow: #f2de46 0 3px 8px;
    /*box-shadow: #f2de46 0px 4px 16px, #f2de46 0px 8px 32px;*/
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for small desktop screens go here */
    form {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    form {
        width: 70%;
    }
}

form h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20%;
}

/* switch */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.wrapper p {
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
}

.switch_box {
    margin: 0 10px;
}

input[type="checkbox"].switch_2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px; /* change width to 50% of original */
    height: 4px; /* change height to 50% of original */
    background: #444;
    border-radius: 5px;
    position: relative;
    outline: 0;
    cursor: pointer;
}

input[type="checkbox"].switch_2:before,
input[type="checkbox"].switch_2:after {
    position: absolute;
    content: "";
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

input[type="checkbox"].switch_2:before {
    width: 20px; /* change to 50% of original */
    height: 20px; /* change to 50% of original */
    background: #ccc;
    border: 2.5px solid #666; /* change to 50% of original */
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

input[type="checkbox"].switch_2:after {
    width: 15px; /* change to 50% of original */
    height: 15px; /* change to 50% of original */
    background: #666;
    border-radius: 50%;
    top: 50%;
    left: 5px; /* change to 50% of original */
    transform: scale(1) translateY(-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

input[type="checkbox"].switch_2:checked:before {
    left: calc(100% - 17.5px); /* change to 50% of original */
}

input[type="checkbox"].switch_2:checked:after {
    left: 37.5px; /* change to 50% of original */
    transform: scale(0);
}



/* form group - input part related styles */

.form-group {
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: 600;
}

.btnSubmit {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid var(--default-yello);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--default-blue);
    color: var(--default-yello);
    cursor: pointer;
    transition: all 200ms ease;
}

.btnSubmit:hover {
    background-color: var(--default-yello);
    color: var(--default-blue);
}



