main {
    display: flex;
    align-items: center;
    height: 100%;
}

section {
    height: 100%;
}

.logoSide {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid var(--default-yello);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.logoSide h1 {
    font-family: "Dancing Script", cursive;
    color: var(--default-yello);
    font-size: 4rem;
    padding: 30px 10px;
}


/* switch related styles */
.switchLan {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: 20px;
}

.switch_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    height: 35px;
    background-color: var(--default-blue);
    border: 1px solid var(--default-yello);
    /*box-sizing: border-box;*/
    border-radius: 28px;
    margin: 0 0.5em 0 0;
}

.switch_wrapper input {
    display: none;
}

.switch_wrapper input:checked + .switch_slider:before {
    transform: translate(98%);
}

.switch_wrapper input:checked ~ div:after {
    color: rgba(243, 241, 241, 0.89);
    transition: color 0.3s ease 0s;
}

.switchLan div::before {
    content: "Admin";
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    /*bottom: -2px;*/
    left: 30%;
    cursor: pointer;
    transition: color 0.3s ease 0s;
}

.switchLan div::after {
    content: "Customer";
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 15px;
    color: #919191;
    /*bottom: -2px;*/
    left: 75%;
    cursor: pointer;
    transition: color 0.3s ease 0s;
}

.switch_slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 34px;
}

.switch_slider::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 34px;
    left: 1px;
    bottom: 1px;
    background-color: rgba(6, 53, 114, 0.918);
    transition: all 0.4s ease 0s;
    border-radius: 38px;
}


/* form related styles */

.formSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formSide p {
    margin-top: 40px;
    color: var(--default-red);
}

.formSide p i {
    margin-right: 10px;
}

form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    /*background-color: red;*/
    box-shadow: #f2de46 0 3px 8px;
    /*box-shadow: #f2de46 0px 4px 16px, #f2de46 0px 8px 32px;*/
}

form h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20%;
}

/* form group - input part related styles */

.form-group {
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: 600;
}

.btnSubmit {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid var(--default-yello);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--default-blue);
    color: var(--default-yello);
    cursor: pointer;
    transition: all 200ms ease;
}

.btnSubmit:hover {
    background-color: var(--default-yello);
    color: var(--default-blue);
}