<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bumble-Bee | Profile Details</title>
    <link
      href="../static/css/navigation.css"
      rel="stylesheet"
      th:href="@{/css/navigation.css}"
    />
    <link
      href="../static/css/global.css"
      rel="stylesheet"
      th:href="@{/css/global.css}"
    />
    <link
      href="../static/css/customerProfile.css"
      rel="stylesheet"
      th:href="@{/css/customerProfile.css}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul id="logo">
          <li><a href="http://localhost:8080/">Bumble-Bee</a></li>
        </ul>
        <ul id="userControl">
          <li><a href="http://localhost:8080/AdminLogin">Login</a></li>
          <li><a href="http://localhost:8080/CustomerRegister">Register</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="avatar"></div>
        <div class="details">
          <div class="detailSet">
            <h3>Full Name</h3>
            <h3 id="fName"></h3>
          </div>
          <div class="detailSet">
            <h3>Date of Birth</h3>
            <h3 id="dob"></h3>
          </div>
          <div class="detailSet">
            <h3>Email</h3>
            <h3 id="email"></h3>
          </div>
        </div>
      </section>
      <section>
        <div class="detailCard">
          <p>Loan Balance:</p>
          <div>
            <h3 id="loanB"></h3>
          </div>
        </div>
        <div class="detailCard">
          <p>Used Amount:</p>
          <div>
            <h3 id="usedA"></h3>
          </div>
        </div>
        <div class="detailCard">
          <p>Installment Plan:</p>
          <div>
            <h3 id="instalmentP"></h3>
          </div>
        </div>
      </section>
    </main>
    <!-- script to external js file -->
    <script th:src="@{/js/customerProfile.js}" type="text/javascript"></script>
  </body>
</html>
