<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bumble-Bee</title>
    <link
      href="../static/css/navigation.css"
      rel="stylesheet"
      th:href="@{/css/navigation.css}"
    />
    <link
      href="../static/css/global.css"
      rel="stylesheet"
      th:href="@{/css/global.css}"
    />
    <link
      href="../static/css/home.css"
      rel="stylesheet"
      th:href="@{/css/home.css}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul id="logo">
          <li><a href="http://localhost:8080/">Bumble-Bee</a></li>
        </ul>
        <ul id="userControl">
          <li><a href="http://localhost:8080/admin_login">Login</a></li>
          <li><a href="http://localhost:8080/register">Register</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="content">
          <div style="display: flex">
            <h1>Buy first and pay later with</h1>
            <h1 id="appName">Bumble-Bee</h1>
          </div>
          <p>Shop now and pay later with just a few clicks using our convenient online buy first pay later Mobile Application.</p>
        </div>
      </section>
    </main>
  </body>
</html>
