<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bumble-Bee | Inventory Type</title>
    <link
      href="../static/css/navigation.css"
      rel="stylesheet"
      th:href="@{/css/navigation.css}"
    />
    <link
      href="../static/css/global.css"
      rel="stylesheet"
      th:href="@{/css/global.css}"
    />
    <link
      href="../static/css/inventoryType.css"
      rel="stylesheet"
      th:href="@{/css/inventoryType.css}"
    />
    <link
      href="../static/css/popupform.css"
      rel="stylesheet"
      th:href="@{/css/popupform.css}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul id="logo">
          <li><a href="http://localhost:8080/">Bumble-Bee</a></li>
        </ul>
        <ul id="userControl">
          <li><a href="http://localhost:8080/admin_login">Login</a></li>
          <li>
            <a href="http://localhost:8080/customer_register">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2 id="heading">Brands</h2>
        <button class="topBtn" id="new">Add new</button>
        <button class="topBtn" id="refresh">Refresh</button>
      </section>
      <section>
        <div class="itemHeadings">
          <h3 id="heading01">Brand Name</h3>
          <h3 id="heading02">Brand Logo</h3>
          <h3 id="heading03">No of Products</h3>
          <h3 id="heading04">Available Categories</h3>
          <h3 id="heading05">Available Categories</h3>
          <h3 id="heading06">Available Categories</h3>
          <div class="controlsBlack"></div>
        </div>
      </section>
      <section class="itemContainer"></section>
    </main>

    <!--  Popup form  -->
    <div class="popup" id="formView">
      <div class="addNewForm">
        <div class="controls">
          <button id="closeBtn">&#x274C;</button>
        </div>
        <form id="form-reg">
          <h3 id="formHeading">Add new Brand</h3>
          <div class="form-group">
            <label for="name" id="nameL">Brand Name</label>
            <input
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter brand name"
              required
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="url" id="urlL">Brand Logo</label>
            <input
              class="form-control"
              id="url"
              name="url"
              placeholder="Enter url to background image (300 &#215; 300)"
              type="url"
            />
          </div>
          <div class="form-group" id="pbn">
            <label for="brand">Product Brand Name:</label>
            <input
              class="form-control"
              id="brand"
              placeholder="Enter brand name of product"
              type="text"
            />
          </div>
          <div class="form-group" id="pcn">
            <label for="category">Product Category Name:</label>
            <input
              class="form-control"
              id="category"
              placeholder="Enter category name of product"
              type="text"
            />
          </div>
          <div class="form-group" id="q">
            <label for="quantity" id="quanL">Quantity</label>
            <input
              class="form-control"
              id="quantity"
              max="100"
              min="1"
              placeholder="Enter the number of items (min - 1 and max - 100)"
              type="number"
            />
          </div>
          <button class="btnSubmit" id="submitBtn" type="submit">Save</button>
        </form>
      </div>
    </div>
    <script
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      type="module"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- script to external js file -->
    <script
      src="../static/js/inventoryType.js"
      th:src="@{/js/inventoryType.js}"
      type="text/javascript"
    ></script>
  </body>
</html>
